body {
  min-width: 50rem;
  padding: 1.5rem;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  justify-self: center;
  border-color: black;
  border-style: solid;
  border-radius: 45px;

  .quiz-game {
    justify-self: center;
  }

  .quiz-score {
    border-style: solid;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .quizAnswerSelection {
    width: 100%;
  }

  button {
    border-radius: 0.5rem;
  }
}

.dark-mode {
  background-color: black;
  color: white;
  border-color: white;
}
